html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #7e2114 !important;
}
.centor{
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.centor-top{
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  body{
      background-color:#7e2114 !important;
      line-height: 0.5 !important;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    margin-top: 20%;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 85% !important;
        max-height: fit-content !important;
    }
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 85% !important;
    }
}
@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 85% !important;
    }
}
@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 85% !important;
    }
}
@media (min-width: 576px){
    .container, .container-sm {
        max-width: 85% !important;
    }

}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    margin-top: 5% !important;
}
.row {
    --bs-gutter-x: -7.5rem !important;
    display: table !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    margin-top: 0rem !important;
}
.box{
    border-radius: 2%;
    margin:6px auto; 
    width:600px;
    padding:20px;
    background:#f9f9f9;
    border:2px solid #fff;
    }
body{
    font-size: 0.85rem !important;
}
.img-logo{
  max-width:20%;
  height:auto;
}
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  margin-bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  color: #7e2114;
}
.adbtn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5em;
}
.boxx-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  margin-bottom: 2%;
  margin-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  color: #7e2114;
  font-size: medium;
}
.table{
  width: 75%!important;
}
@media print {
  header, footer, aside{
      display: none;
  }
  html{
    padding-right: 300%;
    background-color: #f2f2ff;
  }
  body{
    padding-right: 50%;
  }
  .table{
    width: 75%;
  }
  form{
    border: 2px;
    border: maroon;
      border-radius: 31px;
  }
}
.adclose{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0.5em;
  margin-left: 90%;
  width: 5rem;
}